:root {
    --color-body: #FFFFFF;
    --color-child: #F3F3F3;
    --color-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-body: #202124;
        --color-child: #56585D;
        --color-text: #FFFFFF;
    }
}

body, div {
    color: var(--color-text);
    background-color: var(--color-body);
}

button, input, select, option {
    color: var(--color-text);
    background-color: var(--color-child);
}

* {
    border-color: #AAB0B6;
    border-radius: 3px;
}

body, button, input, select {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 16px;
}

body, div {
    user-select: none;
    position: relative;
}

body {
    margin: auto;
}

input, option {
    border-width: 1px;
    border-style: inset;
}

input, option {
    padding: 3px 5px;
}

input[type="checkbox"] {
    accent-color: #006cbe;
    transform: scale(1.5);
    width: auto;
}

select {
    padding: 2px 5px;
}

option:checked {
    font-weight: bold;
}

button {
    border-width: 1px;
    border-style: outset;
    padding: 3px 5px;
    white-space: nowrap;
}

button:enabled:hover {
    cursor: pointer;
    filter: contrast(80%);
}

button:enabled:active {
    border-style: inset;
    filter: contrast(60%);
}

button:disabled {
    border-width: 0px;
    filter: contrast(40%);
    padding: 4px 6px;
}

button.checked {
    border-style: inset;
}

.template {
    display: none;
}

#proxy-mode {
    background-color: #2940D9;
    color: #FFFFFF;
    width: fit-content;
}

body.global #proxy-mode {
    background-color: #208020;
}

body.direct #proxy-mode {
    background-color: #C1272D;
}

