body {
    margin: 8px;
    min-width: 212px;
}

input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    accent-color: #006cbe;
}

label {
    text-align: center;
    letter-spacing: 1px;
    flex: 1;
}

select {
    width: 100%;
}

#output > div {
    padding: 3px;
    display: flex;
    gap: 8px;
}

#output:empty + hr {
    display: none;
}

#menu, #proxy {
    display: flex;
    gap: 5px;
}

#menu > button, #proxy > button {
    flex: 1;
}

#status {
    color: white;
    background-color: green;
}

#status:hover {
    cursor: pointer;
    filter: contrast(75%);
}

#status:active {
    filter: contrast(45%);
}

body:not(.expand) > #output > :not(.wildcard),
body.expand > #output > :not(.hostname),
body.disabled > :nth-child(-n + 2) {
    display: none;
}

body.disabled #status {
    background-color: red;
}

#menu {
    margin: 5px 0px;
}

.asleep > #menu > :nth-child(2),
.asleep > #proxy > button,
.disabled > #menu > :nth-child(2),
.disabled > #proxy > * {
    pointer-events: none;
    filter: contrast(25%);
}

.expand > #menu > :nth-child(2) {
    border-style: inset;
}

.match {
    color: #d44b31;
    display: flex !important;
}

.tempo {
    color: #59a8ff;
    display: flex !important;
}
