body {
    margin: 8px;
    min-width: 232px;
}

input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    accent-color: #006cbe;
}

label {
    text-align: center;
    letter-spacing: 1px;
    flex: 1;
}

#output > div {
    padding: 3px;
    display: flex;
    gap: 8px;
}

#output:empty + hr {
    display: none;
}

#proxy, #menu {
    display: flex;
    gap: 5px;
}

#proxy > select,
#menu > * {
    flex: 1;
}


body:not(.expand) > #output > :not(.wildcard),
body.expand > #output > :not(.hostname) {
    display: none;
}

.hibernate > #proxy > *,
.hibernate > #menu > :nth-child(-n+2) {
    pointer-events: none;
    filter: contrast(25%);
}

.expand > #proxy > button {
    border-style: inset;
}

.match {
    color: #e76b4a;
    display: flex !important;
}

.tempo {
    color: #7ac2fc;
    display: flex !important;
}
