body {
    width: 680px;
}

body > div {
    padding: 10px;
}

body.direct .x-direct > :is(select, input, label),
body.global .x-global > :is(select, input, label),
body:not(.autopac) #errors > div > * {
    filter: var(--item-disabled);
    pointer-events: none;
}

input[type="file"], a {
    display: none;
}

#menu > button:nth-last-of-type(3) {
    margin-left: auto;
}

#options {
    border-style: inset;
    border-width: 1px;
    flex-wrap: wrap;
    gap: 15px 5px;
}

#options > :nth-child(2) {
    margin: auto;
}

#options > :nth-child(3) {
    display: inline-block;
    flex-basis: 100%;
}

#options > :nth-child(n+4) {
    flex-basis: 50%;
}

#options label {
    font-weight: bold;
}

#options button {
    padding: 1px 5px;
}

#preset {
    min-width: 200px;
}

#errors {
    display: inline-block;
    position: relative;
}

#errors > div {
    border-style: solid;
    border-width: 1px;
    left: calc(100% + 5px);
    position: absolute;
    top: 0px;
    width: 200px;
    z-index: 9;
}

#errors > div > *,
#errors > div > ::before {
    padding: 5px;
}

#errors > div > :hover {
    filter: var(--item-hover);
}

#errors > div > :active {
    filter: var(--item-active);
}

#errors > div > ::before {
    content: "✔️";
    visibility: hidden;
}

#errors > div > .checked::before {
    visibility: visible;
}

.flexmenu {
    flex-wrap: wrap;
}

.proxy {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}

.flexmenu > input {
    height: 21px;
    margin: auto 0px 0px auto;
}

.flexmenu > button {
    margin: auto 0px 0px 0px;
}

#manager > .flexmenu > button:last-of-type {
    margin-left: auto;
}

.matches {
    border-style: outset;
    border-width: 1px;
    display: grid;
    flex-basis: 100%;
    grid-auto-rows: 25px;
    grid-template-columns: repeat(3, 33.33%);
    margin: 3px 0px 25px;
    max-height: 200px;
    min-height: 50px;
    overflow-y: auto;
}

.rule {
    border-style: outset;
    border-width: 1px;
    display: flex;
}

.rule > div {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rule > button {
    padding: 0px;
}

.rule[title="localhost"] {
    order: -2;
}

.rule[title="127.0.0.1"] {
    order: -1;
}

.rule[title="127.0.0.1"] > button , .rule[title="localhost"] > button {
    display: none;
    pointer-events: none;
}
