body {
    width: 680px;
}

body > div {
    padding: 10px;
}

body:not(.autopac) #handler,
#handler.none {
    display: none;
}

body.direct .x-direct > :is(select, input, label),
body.global .x-global > :is(select, input, label) {
    filter: contrast(20%);
    pointer-events: none;
}

input[type="file"], a {
    display: none;
}

#menu {
    display: flex;
    gap: 3px;
}

#menu > button:nth-last-of-type(3) {
    margin-left: auto;
}

#options {
    border-style: inset;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}

#options > :nth-child(2) {
    margin-left: auto;
}

#options > :nth-child(n+3) {
    flex: 1;
}

#options label {
    font-weight: bold;
}

#handler {
    border-style: solid;
    border-width: 1px;
    left: calc(100% + 16px);
    position: absolute;
    top: -12px;
    width: 200px;
    z-index: 9;
}

#handler > *,
#handler > ::before {
    padding: 5px;
}

#handler > :hover {
    filter: contrast(80%);
}

#handler > :active {
    filter: contrast(60%);
}

#handler > ::before {
    content: "✔️";
    visibility: hidden;
}

#handler > .checked::before {
    visibility: visible;
}

.checkbox {
    padding: 5px;
}

.profile {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

.proxy {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}

.profile > input {
    height: 20px;
    margin: auto 0px auto auto;
}

.profile > button {
    height: 28px;
    margin: auto 0px;
    padding: 2px;
}

#manager > .profile > button:last-of-type {
    margin-left: auto;
}

.matches {
    border-style: inset;
    border-width: 1px;
    display: grid;
    flex-basis: 100%;
    grid-column-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    max-height: 182px;
    min-height: 26px;
    overflow-y: auto;
}

.rule {
    border-style: outset;
    border-width: 1px;
    display: flex;
    white-space: nowrap;
}

.rule > :first-child {
    flex: 1;
}

.rule > button {
    font-size: 12px;
    height: 24px;
    padding: 3px;
}
