@media (prefers-color-scheme: light) {
    body, div {
        background-color: #FFFFFF;
    }

    button, input, select {
        background-color: #F3F3F3;
    }
}

@media (prefers-color-scheme: dark) {
    body, div {
        background-color: #202124;
    }
    
    button, input, select {
        background-color: #56585D;
    }

    body, div, button, input, textarea, select {
        color: #FFFFFF;
    }
}

* {
    border-color: #AAB0B6;
    border-radius: 3px;
}

body, button, input, select {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 16px;
}

body, div {
    user-select: none;
    position: relative;
}

body {
    margin: auto;
}

input, option {
    border-width: 1px;
    border-style: inset;
}

input, option {
    padding: 3px 5px;
}

select {
    padding: 2px 5px;
}

option:checked {
    font-weight: bold;
}

button {
    border-width: 1px;
    border-style: outset;
    padding: 3px 5px;
}

button:enabled:hover {
    cursor: pointer;
    filter: contrast(80%);
}

button:enabled:active {
    border-style: inset;
    filter: contrast(60%);
}

button:disabled {
    border-width: 0px;
    filter: contrast(40%);
    padding: 4px 6px;
}

.template {
    display: none;
}
