body {
    margin: 4px;
}

label {
    flex: 1;
    text-align: center;
}

select {
    width: 100%;
}

body.direct > :nth-child(-n+2),
body.global > :nth-child(-n+2) {
    display: none;
}

body.asleep > #menu > button:nth-of-type(-n+3),
body.asleep > #proxy,
body.direct > #menu > button:nth-of-type(-n+3),
body.direct > #proxy,
body.global > #menu > button:nth-of-type(-n+3) {
    filter: contrast(40%);
    pointer-events: none;
}

#output:empty + div {
    display: none;
}

#output:not(.express) > .fullhost:not(.match):not(.tempo),
#output.express > .wildcard:not(.match):not(.tempo) {
    display: none !important;
}

#output > div {
    display: flex;
    gap: 5px;
    padding: 3px;
}

#context {
    display: flex;
    gap: auto;
    height: 23px;
    margin-bottom: 3px;
}

#context > div {
    flex: 1;
    text-align: center;
}

#context > :hover {
    border-style: outset;
    border-width: 1px;
}

#context > :active {
    border-style: inset;
}

#menu {
    display: flex;
    gap: 5px;
    margin: 5px 0px;
}

#menu > * {
    flex: 1;
}

.match {
    color: #d44b31;
}

.tempo {
    color: #59a8ff;
}
