body {
    margin: 4px;
    width: max-content;
}

select {
    width: 100%;
}

body.asleep > #menu > button:nth-of-type(-n+2),
body.asleep > #extra > #proxy,
body.direct > #menu > button:nth-of-type(-n+2),
body.direct > #extra > #proxy,
body.global > #menu > button:nth-of-type(-n+2) {
    filter: contrast(40%);
    pointer-events: none;
}

body.asleep > :first-child,
body.direct > :first-child,
body.global > :first-child,
#output:not(.express) > .fullhost:not(.match):not(.tempo),
#output.express > .wildcard:not(.match):not(.tempo),
#output:empty + #context {
    display: none !important;
}

#extra, #menu {
    display: flex;
    gap: 5px;
    margin: 5px 0px;
}

#menu > * {
    flex: 1;
}

.rule {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 3px 0px;
}

.rule > :first-child {
    padding: 3px 0px;
    white-space: nowrap;
}

.error {
    order: -1;
}

.error > select {
    color: #FFFFFF;
    background-color: #D23F2A;
}

.exclude {
    order: -2;    
}

.exclude > select {
    color: #FFFFFF;
    background-color: #A39F8C;
}

.tempo {
    order: -3;
}

.tempo > select {
    color: #FFFFFF;
    background-color: #E6A92A;
}

.match {
    order: -4;
}

.match > select {
    color: #FFFFFF;
    background-color: #34A85D;
}
