body {
    width: 680px;
}

body > div {
    padding: 10px;
}

input {
    width: auto;
}

input[type="file"], a {
    display: none;
}

body:not(.new_profile) #profile {
    display: none;
}

#menu {
    display: flex;
    gap: 3px;
}

#menu > :nth-child(2) {
    margin-left: auto;
}

#profile {
    border-style: inset;
    border-width: 2px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 3px;
}

#manager button {
    font-size: 12px;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;
    height: 23px;
}

#manager input {
    height: 16px;
    position: relative;
    top: 5px;
}

#manager > * {
    margin-bottom: 30px;
}

#manager .menu > input {
    margin-left: auto;
    width: 40%;
}

#manager .matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
    min-height: 25px;
}

#manager .matches > * {
    display: grid;
    grid-template-columns: 1fr auto;
    white-space: nowrap;
    border-width: 1px;
    border-style: outset;
}

#manager .matches > * > :first-child {
    padding: 3px 5px;
}

.new_profile #new-profile {
    border-style: inset;
}

.menu {
    display: flex;
    gap: 3px;
}

.proxy {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
}

.matches {
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    max-height: 174px;
}
