body {
    width: 680px;
}

body > div {
    padding: 10px;
}

input {
    width: auto;
}

#menu {
    display: flex;
    gap: 3px;
}

#menu > :nth-child(2) {
    margin-left: auto;
}

#profile {
    border-style: inset;
    border-width: 2px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 3px;
}

#files {
    display: none;
}

#manager button {
    font-size: 12px;
    padding: 3px;
    margin: auto 0px;
    height: 23px;
}

#manager input {
    height: 18px;
}

body:not(.new_profile) #profile {
    display: none;
}

.new_profile [data-bid="new_btn"] {
    border-style: inset;
}

.matchpattern, .pacscript {
    margin-bottom: 20px;
}

.matchpattern > .menu > :nth-child(2) {
    vertical-align: middle;
    padding: 5px;
}

.expand .detail, .matches, .content {
    border-style: inset;
}

.expand .content {
    height: fit-content;
}

.menu {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-gap: 3px;
}

.proxy {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
}

.matches, .content {
    border-width: 1px;
    padding: 5px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.content {
    overflow-y: scroll;
    height: 105px;
    border-width: 1px;
    word-wrap: break-word;
    grid-area: 2 / 1 / 3 / 4;
}

.matches > * {
    border-style: outset;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.pattern {
    padding: 3px 5px;
}
